.DS_Store
node_modules
/dist
/dist-electron
/cypress
/tests/e2e/video
/out


# local env files
.env.local
.env.*.local
debug.log

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/storybook-static

#Electron-builder output
/src/stories
/packages/api/dist

.vercel

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/public/service
.browserslistrc
.commitlintrc.js
.electron-builder.config.js
.env.browser
.env.electron.build
.env.electron.dev
.eslintignore
.eslintrc.js
.gitattributes
.github/ISSUE_TEMPLATE/新功能.md
.github/ISSUE_TEMPLATE/问题反馈.md
.github/workflows/deploy.yml
.gitmodules
.husky/pre-commit
.npmrc
.prettierignore
.prettierrc
.stylelintrc.js
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
.yarnrc.yml
CHANGELOG.md
cypress.json
electron.vite.config.js
index.html
lerna.json
LICENSE
lyrics.html
migrate.md
mirrori.sh
package.json
packages/unblock/.dockerignore
packages/unblock/.npmignore
packages/unblock/app.js
packages/unblock/babel.config.js
packages/unblock/bridge.js
packages/unblock/ca.crt
packages/unblock/docker-compose.yml
packages/unblock/Dockerfile
packages/unblock/endpoint.worker.js
packages/unblock/LICENSE
packages/unblock/package.json
packages/unblock/README.md
packages/unblock/server.crt
packages/unblock/server.key
packages/unblock/src/app.js
packages/unblock/src/bridge.js
packages/unblock/src/browser/background.html
packages/unblock/src/browser/background.js
packages/unblock/src/browser/convert.js
packages/unblock/src/browser/crypto.js
packages/unblock/src/browser/inject.js
packages/unblock/src/browser/manifest.json
packages/unblock/src/browser/README.md
packages/unblock/src/browser/request.js
packages/unblock/src/browser/script.js
packages/unblock/src/cache.js
packages/unblock/src/cli.js
packages/unblock/src/crypto.js
packages/unblock/src/hook.js
packages/unblock/src/kwDES.js
packages/unblock/src/provider/baidu.js
packages/unblock/src/provider/find.js
packages/unblock/src/provider/insure.js
packages/unblock/src/provider/joox.js
packages/unblock/src/provider/kugou.js
packages/unblock/src/provider/kuwo.js
packages/unblock/src/provider/match.js
packages/unblock/src/provider/migu.js
packages/unblock/src/provider/netease.js
packages/unblock/src/provider/qq.js
packages/unblock/src/provider/select.js
packages/unblock/src/provider/xiami.js
packages/unblock/src/provider/youtube.js
packages/unblock/src/request.js
packages/unblock/src/server.js
packages/unblock/src/sni.js
packages/unblock/test/api.test.js
postcss.config.js
public/loading-list.svg
public/loading.html
public/loading.svg
README.md
script/build.js
script/core/core.js
script/core/index.js
script/deploy.sh
script/read.js
script/render.js
script/server-local.js
script/theme.js
src/api/index.ts
src/api/search.ts
src/api/userinfo.ts
src/app/app.less
src/app/app.tsx
src/app/index.css
src/app/index.ts
src/app/plugin/v-easy-components.ts
src/components-business/auto/auto.less
src/components-business/auto/auto.tsx
src/components-business/button/index.less
src/components-business/button/index.tsx
src/components-business/fly/index.less
src/components-business/fly/index.tsx
src/components-business/offline/offline.tsx
src/components-business/secondary-bar/index.less
src/components-business/secondary-bar/index.tsx
src/components-business/secondary-list/index.less
src/components-business/secondary-list/index.tsx
src/components-business/song-list/card.vue
src/components-business/song-list/daily.less
src/components-business/song-list/daily.tsx
src/components-business/song-list/index.less
src/components-business/song-list/index.tsx
src/components-business/table/index.less
src/components-business/table/index.tsx
src/components-global/icon/index.ts
src/components-global/icon/main/index.less
src/components-global/icon/main/index.tsx
src/components-global/index.ts
src/components/dialog/index.tsx
src/components/error-boundary/index.less
src/components/error-boundary/index.tsx
src/components/image/index.tsx
src/components/keyword/keyword.tsx
src/components/loading/index.less
src/components/loading/index.tsx
src/components/MatchText.vue
src/components/more-then/index.less
src/components/more-then/index.tsx
src/components/overflow-text/index.less
src/components/overflow-text/index.tsx
src/components/process-bar/block.less
src/components/process-bar/block.tsx
src/components/process-bar/index.less
src/components/process-bar/index.tsx
src/components/schedule/index.less
src/components/schedule/index.tsx
src/components/swiper/index.less
src/components/swiper/index.tsx
src/components/teleport-layout/index.less
src/components/teleport-layout/index.tsx
src/components/widgets/index.ts
src/components/widgets/list-header/index.less
src/components/widgets/list-header/index.tsx
src/components/widgets/list-wrapper/index.less
src/components/widgets/list-wrapper/index.tsx
src/components/widgets/playlist-item-box/index.less
src/components/widgets/playlist-item-box/index.tsx
src/components/widgets/playlist-item-cell/index.less
src/components/widgets/playlist-item-cell/index.tsx
src/components/widgets/playlist-item-info/index.less
src/components/widgets/playlist-item-info/index.tsx
src/components/widgets/radio-item/index.less
src/components/widgets/radio-item/index.tsx
src/config/build.ts
src/config/style.config.less
src/constants/eventName.ts
src/constants/index.ts
src/constants/vars.ts
src/electron/constants.ts
src/electron/event/action-types.ts
src/electron/event/index.ts
src/electron/event/ipc-browser.ts
src/electron/event/ipc-main/auto-download.ts
src/electron/event/ipc-main/download.ts
src/electron/event/ipc-main/index.ts
src/electron/event/ipc-renderer/index.ts
src/electron/main.ts
src/electron/pages/index.less
src/electron/pages/index.ts
src/electron/preload/index.ts
src/electron/preload/init.ts
src/electron/preload/ipc.ts
src/electron/service/index.ts
src/electron/service/service.ts
src/electron/store/index.ts
src/electron/utils/index.ts
src/electron/utils/log.ts
src/electron/utils/setupDevtool.ts
src/electron/utils/setupMenu.ts
src/electron/web/event.ts
src/env.d.ts
src/global.d.ts
src/helpers/index.ts
src/hooks/auth.ts
src/hooks/common.ts
src/hooks/hook.ts
src/hooks/http.ts
src/hooks/index.ts
src/hooks/message.ts
src/hooks/path.ts
src/iconfont/index.ts
src/interface/app.ts
src/interface/audio-convolver.ts
src/interface/http.ts
src/interface/index.ts
src/interface/router.ts
src/interface/service/albums.ts
src/interface/service/artists.ts
src/interface/service/avatar.ts
src/interface/service/songs.ts
src/interface/utils.ts
src/layout/container.less
src/layout/container.tsx
src/layout/interface.ts
src/layout/module.ts
src/layout/music/music.less
src/layout/music/music.tsx
src/layout/sage.ts
src/layout/secondary/secondary.less
src/layout/secondary/secondary.tsx
src/layout/state.ts
src/main.ts
src/modules/index.ts
src/pages/404/view/index.less
src/pages/404/view/index.tsx
src/pages/artist/api/index.ts
src/pages/artist/children/albume.tsx
src/pages/artist/children/detail.tsx
src/pages/artist/children/mv.tsx
src/pages/artist/children/similar.tsx
src/pages/artist/components/grid.less
src/pages/artist/components/grid.tsx
src/pages/artist/index.ts
src/pages/artist/interface.ts
src/pages/artist/logic/ap.ts
src/pages/artist/module.ts
src/pages/artist/sage.ts
src/pages/artist/state.ts
src/pages/artist/view/index.less
src/pages/artist/view/index.tsx
src/pages/auth/api.ts
src/pages/auth/component/auth-view/index.less
src/pages/auth/component/auth-view/index.tsx
src/pages/auth/component/button/index.less
src/pages/auth/component/button/index.tsx
src/pages/auth/component/input-field/index.less
src/pages/auth/component/input-field/index.tsx
src/pages/auth/component/link/index.less
src/pages/auth/component/link/index.tsx
src/pages/auth/component/mask-view/index.less
src/pages/auth/component/mask-view/index.tsx
src/pages/auth/component/sidebar-auth/cell.tsx
src/pages/auth/component/sidebar-auth/float-box.tsx
src/pages/auth/component/sidebar-auth/index.tsx
src/pages/auth/component/sidebar-auth/style.less
src/pages/auth/constant.ts
src/pages/auth/hooks.ts
src/pages/auth/module.ts
src/pages/auth/sage.ts
src/pages/auth/state.ts
src/pages/auth/theme.ts
src/pages/auth/views/email-login.tsx
src/pages/auth/views/index.tsx
src/pages/auth/views/phone-login.tsx
src/pages/auth/views/reset-pwd.tsx
src/pages/auth/views/signup.tsx
src/pages/auth/views/sms-code.tsx
src/pages/cloud/api/cloud.ts
src/pages/cloud/index.ts
src/pages/cloud/interface.ts
src/pages/cloud/module.ts
src/pages/cloud/sage.ts
src/pages/cloud/state.ts
src/pages/cloud/view/index.less
src/pages/cloud/view/index.tsx
src/pages/download/children/mv.tsx
src/pages/download/children/song.less
src/pages/download/children/song.tsx
src/pages/download/index.ts
src/pages/download/interface.ts
src/pages/download/module.ts
src/pages/download/sage.ts
src/pages/download/state.ts
src/pages/download/view/index.less
src/pages/download/view/index.tsx
src/pages/findmusic/recommend/api.ts
src/pages/findmusic/recommend/components/banner.vue
src/pages/findmusic/recommend/components/dailysong.vue
src/pages/findmusic/recommend/components/newsong.vue
src/pages/findmusic/recommend/components/recommendsong.vue
src/pages/findmusic/recommend/index.vue
src/pages/footer/components/effect/index.less
src/pages/footer/components/effect/index.tsx
src/pages/footer/components/lyrics-desktop/browser-lyrics.tsx
src/pages/footer/components/lyrics-desktop/electron-lyrics.less
src/pages/footer/components/lyrics-desktop/electron-lyrics.tsx
src/pages/footer/components/lyrics-desktop/index.less
src/pages/footer/components/lyrics-desktop/index.tsx
src/pages/footer/components/lyrics-embed/index.less
src/pages/footer/components/lyrics-embed/index.tsx
src/pages/footer/components/music-controller/index.less
src/pages/footer/components/music-controller/index.tsx
src/pages/footer/components/no-music.tsx
src/pages/footer/components/volume-history/history.less
src/pages/footer/components/volume-history/history.tsx
src/pages/footer/components/volume-history/index.less
src/pages/footer/components/volume-history/index.tsx
src/pages/footer/index.ts
src/pages/footer/interface.ts
src/pages/footer/module.ts
src/pages/footer/sage.ts
src/pages/footer/state.ts
src/pages/footer/view/index.less
src/pages/footer/view/index.tsx
src/pages/header/component/logo.less
src/pages/header/component/logo.tsx
src/pages/header/component/puah-shift.less
src/pages/header/component/push-shift.tsx
src/pages/header/component/search.less
src/pages/header/component/search.tsx
src/pages/header/component/search.vue
src/pages/header/component/setting.less
src/pages/header/component/setting.tsx
src/pages/header/interface.ts
src/pages/header/module.ts
src/pages/header/sage.ts
src/pages/header/state.ts
src/pages/header/view/index.less
src/pages/header/view/index.tsx
src/pages/index.ts
src/pages/list/api/index.ts
src/pages/list/index.ts
src/pages/list/interface.ts
src/pages/list/module.ts
src/pages/list/sage.ts
src/pages/list/state.ts
src/pages/list/view/index.less
src/pages/list/view/index.tsx
src/pages/main/interface.ts
src/pages/main/module.ts
src/pages/main/sage.ts
src/pages/main/state.ts
src/pages/main/view/index.less
src/pages/main/view/index.tsx
src/pages/moments/index.ts
src/pages/moments/view/index.tsx
src/pages/music/children/directory.tsx
src/pages/music/children/song.tsx
src/pages/music/index.ts
src/pages/music/interface.ts
src/pages/music/module.ts
src/pages/music/sage.ts
src/pages/music/state.ts
src/pages/music/view/index.less
src/pages/music/view/index.tsx
src/pages/news/children/artists/api/index.ts
src/pages/news/children/artists/module.ts
src/pages/news/children/artists/sage.ts
src/pages/news/children/artists/state.ts
src/pages/news/children/artists/view/filter.less
src/pages/news/children/artists/view/filter.tsx
src/pages/news/children/artists/view/index.less
src/pages/news/children/artists/view/index.tsx
src/pages/news/children/module.ts
src/pages/news/children/recommend/api/index.ts
src/pages/news/children/recommend/module.ts
src/pages/news/children/recommend/sage.ts
src/pages/news/children/recommend/state.ts
src/pages/news/children/recommend/view/index.less
src/pages/news/children/recommend/view/index.tsx
src/pages/news/children/song-list/api/index.ts
src/pages/news/children/song-list/module.ts
src/pages/news/children/song-list/sage.ts
src/pages/news/children/song-list/state.ts
src/pages/news/children/song-list/view/index.less
src/pages/news/children/song-list/view/index.tsx
src/pages/news/children/top-list/api/index.ts
src/pages/news/children/top-list/module.ts
src/pages/news/children/top-list/sage.ts
src/pages/news/children/top-list/state.ts
src/pages/news/children/top-list/view/index.less
src/pages/news/children/top-list/view/index.tsx
src/pages/news/index.ts
src/pages/news/interface.ts
src/pages/news/view/index.less
src/pages/news/view/index.tsx
src/pages/search/children/album.tsx
src/pages/search/children/artist.tsx
src/pages/search/children/lyrics.tsx
src/pages/search/children/play-list.tsx
src/pages/search/children/song.tsx
src/pages/search/index.ts
src/pages/search/interface.ts
src/pages/search/logic/index.ts
src/pages/search/module.ts
src/pages/search/sage.ts
src/pages/search/state.ts
src/pages/search/view/search.less
src/pages/search/view/search.tsx
src/pages/setting/index.ts
src/pages/setting/interface.ts
src/pages/setting/module.ts
src/pages/setting/sage.ts
src/pages/setting/state.ts
src/pages/setting/view/about.tsx
src/pages/setting/view/author.tsx
src/pages/setting/view/download.tsx
src/pages/setting/view/effect.tsx
src/pages/setting/view/index.less
src/pages/setting/view/index.tsx
src/pages/setting/view/source.tsx
src/pages/setting/view/upgrade.tsx
src/pages/sidebar/view/index.less
src/pages/sidebar/view/index.tsx
src/pages/userinfo/api.ts
src/pages/userinfo/component/audiolist/index.tsx
src/pages/userinfo/component/empty-list/index.less
src/pages/userinfo/component/empty-list/index.tsx
src/pages/userinfo/component/playlist/index.less
src/pages/userinfo/component/playlist/index.tsx
src/pages/userinfo/component/upload-avatar/index.less
src/pages/userinfo/component/upload-avatar/index.tsx
src/pages/userinfo/component/upload-avatar/UploadWrapper.tsx
src/pages/userinfo/component/upload-btn/index.tsx
src/pages/userinfo/component/userinfo-widget/index.tsx
src/pages/userinfo/component/userinfo-widget/widget/btn/index.less
src/pages/userinfo/component/userinfo-widget/widget/btn/index.tsx
src/pages/userinfo/component/userinfo-widget/widget/user-info/index.less
src/pages/userinfo/component/userinfo-widget/widget/user-info/index.tsx
src/pages/userinfo/component/userinfo-widget/widget/user-statistic/index.less
src/pages/userinfo/component/userinfo-widget/widget/user-statistic/index.tsx
src/pages/userinfo/component/userinfo-widget/widget/user-tag/index.less
src/pages/userinfo/component/userinfo-widget/widget/user-tag/UserTag.tsx
src/pages/userinfo/constant.ts
src/pages/userinfo/hooks.ts
src/pages/userinfo/module.ts
src/pages/userinfo/sage.ts
src/pages/userinfo/state.ts
src/pages/userinfo/views/event-view.tsx
src/pages/userinfo/views/fans-view.tsx
src/pages/userinfo/views/follow-view/card.tsx
src/pages/userinfo/views/follow-view/index.less
src/pages/userinfo/views/follow-view/index.tsx
src/pages/userinfo/views/index.tsx
src/pages/userinfo/views/user-setting/area-select.tsx
src/pages/userinfo/views/user-setting/birth-select.tsx
src/pages/userinfo/views/user-setting/city.json
src/pages/userinfo/views/user-setting/index.less
src/pages/userinfo/views/user-setting/index.tsx
src/pages/userinfo/views/user-setting/province.json
src/pages/userinfo/views/user-setting/sex-select.tsx
src/pages/video/children/mv/view/index.tsx
src/pages/video/index.ts
src/pages/video/view/index.tsx
src/pinia/index.ts
src/pinia/recommend.ts
src/pinia/search.ts
src/router/base.ts
src/router/content.ts
src/router/hook.ts
src/router/index.ts
src/router/nav.ts
src/shared/audio.ts
src/shared/jump-shared.ts
src/shared/music-shared.ts
src/shared/subscribe.less
src/shared/subscribe.tsx
src/store/index.ts
src/tag/encoder.ts
src/tag/ID3Writer.ts
src/tag/signatures.ts
src/tag/sizes.ts
src/tag/transform.ts
src/theme/color.less
src/theme/color.ts
src/theme/cover.less
src/theme/global.less
src/theme/index.css
src/theme/index.less
src/theme/index.ts
src/types.d.ts
src/utils/eventBus.ts
src/utils/http.ts
src/utils/index.ts
src/utils/interceptors/auth.ts
src/utils/interceptors/format.ts
src/utils/interceptors/index.ts
src/utils/interceptors/timeout.ts
src/utils/musicControl.ts
tailwind.config.js
tests/e2e/integration/history.spec.js
tests/e2e/integration/news.spec.js
tests/e2e/integration/recommend.spec.js
tests/e2e/plugins/index.js
tests/unit/electron.spec.js
tests/unit/example.spec.ts
tsconfig.json
vercel.json
vite.config.js
vue.config.js
yarn.lock
